.App {
  height: 100%;
}

#home {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  bottom: 0;
  position: fixed;
  font-family: monospace;
  color: rgb(245, 242, 231);
  font-size: 16px;
  background: linear-gradient(-45deg, #00ff4cc5, #000000, #0044ffc2, #000000);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  overflow-y: auto;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
} 

.instructions-image {
  height: 100%;
  width: 75%;
  border-radius: 20px;
}

#nav-bar {
  top: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
}
#nav-bar h1 {
  color: white;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.wwo {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.content {
  /* background: linear-gradient(-45deg, #494949, #000000, #494949, #000000);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite; */
}

.content-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  /* background: linear-gradient(110deg,#064ACB 60%, #366ED8 60%); */
}

.ul-container {
  display: block;
  margin: 5% 10% 5% 10%;
  background: rgb(255, 255, 255, 0.3);
  border-radius: 5px;
  font-size: 1.5vw;
  padding: 2%;
}

.ul-container h1, .button-container h1 {
  font-size: 3vw;
  text-align: center;
}

.ul-container h2 {
  font-size: 2vw;
  text-align: center;
}

.home-ul {
  text-align: center;
  padding: 0 10% 0 10%;
}

.home-ul li {
  display: flex;
  flex-direction: column;
  font-size: 1.2vw;
  /* align-items: center; */
}

ul,
ol {
  list-style: none;
  word-wrap: break-word;
}

.youtube {
  height: 100%;
  max-height: 50px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5vw;
}


.custom-btn {
  background: #e5ff00c7;
  background-image: -webkit-linear-gradient(top, #e5ff00c7, #d0ff00);
  background-image: -moz-linear-gradient(top, #e5ff00c7, #d0ff00);
  background-image: -ms-linear-gradient(top, #e5ff00c7, #d0ff00);
  background-image: -o-linear-gradient(top, #e5ff00c7, #d0ff00);
  background-image: linear-gradient(to bottom, #e5ff00c7, #d0ff00);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.custom-btn:hover {
  background: #00ff51;
  background-image: -webkit-linear-gradient(top, #00ff51, #1ac400);
  background-image: -moz-linear-gradient(top, #00ff51, #1ac400);
  background-image: -ms-linear-gradient(top, #00ff51, #1ac400);
  background-image: -o-linear-gradient(top, #00ff51, #1ac400);
  background-image: linear-gradient(to bottom, #00ff51, #1ac400);
  text-decoration: none;
}

.image-container {
  display: flex;
  align-items: flex-end;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: white;
  height: 100px;
  width: 100%;
}


#nav-bar h1 {
  text-align: left;
}

.react-player {  
  height: 500px;
  width: 100%;
  background: rgb(255, 255, 255);
  box-shadow: 10px 12px 0.5rem rgba(0,0,0,0.5);
  border-style: solid;
}

.col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 2% !important;
  margin-bottom: 2%;
  clear:both;
}

.block {
  margin-bottom: 1%;
}
.container {
  max-width: 100% !important;
  width: 100%;
  padding: 0;
}

.nav {
  max-width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  top: 0;
}

.wwo-logo-vp {
  height: 75px;
  width: 400px;
  float: left;
  padding-left: 10%
}

.nav-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.nav-right span, .nav-right form, .leave-btn {
  margin: 1%;
}

#vol {
  width: 50%;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signed-in-as {
  font-size: larger;
}

.outer-div {
  width: 100%;
  height: 100%;
}

.outer-div2 {
  width: 90%;
}

.leave-body {
  text-align: center;
}

.share-url {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: auto;
}

.share-url Button {
  margin-left:15px;
}

.share-url Button:hover {
  background-color: rgb(165, 165, 165) !important;
  border-color: rgb(122, 122, 122);
}
.video-input {
  width: 100%;
  margin: 0;
}

#bottom-row {
  display: flex;
  align-items: center;
  justify-content:center;
  /* background-color: rgb(0, 0, 0, 0.6); */
  font-size: 20px;

  clear: both;
  position: relative;
  overflow: hidden;
  bottom: 0;
  max-width: 100% !important; /* add this rule */
  width: 100%;
}

.bottom-col {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 2%;
}

/* Responsive  */

@media screen and (max-width: 1199px) {
  .outer-div, .react-player {
      width: 100%;
      height: 40vh; 
      margin-bottom: 1%;
  }
}

@media screen and (max-width: 575px) {
  .video-input {
      width: auto;
  }
  #bottom-row {
      /* height: fit-content; 
      width:100%; */
  }
}

@media screen and (max-width: 1300px) {
  .ul-container h1, .button-container h1 {
    /* font-size: 4vw;
    text-align: center; */
  }
  .ul-container h1, .button-container h1 {
    font-size: 4vw;
  }
  .ul-container h2 {
    font-size: 3vw;
  }
  .home-ul li {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 865px) {
  .ul-container {
    font-size: 3.4vw;
  }
  
  .ul-container h1, .button-container h1 {
    font-size: 5vw;
  }
  .ul-container h2 {
    font-size: 4vw;
  }
  .button-container {
    font-size: 3vw;
  }
  .content-container {
  margin-bottom: 10%;
  }
  .home-ul {
    padding: 0 10% 0 15%;
  }
}