/* #vid-div {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("../../images/bg2.jpg");
    background-size: cover;
    overflow-y:auto;
    padding: 0;
    font-family: monospace;
} */

#nav-bar h1 {
    text-align: left;
}

.react-player {  
    height: 500px;
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 10px 12px 0.5rem rgba(0,0,0,0.5);
    border-style: solid;
}

.col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 2% !important;
    margin-bottom: 2%;
    clear:both;
}

.block {
    margin-bottom: 1%;
}
.container {
    max-width: 100% !important;
    width: 100%;
    padding: 0;
}

.nav {
    max-width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    top: 0;
}

.wwo-logo-vp {
    height: 75px;
    width: 400px;
    float: left;
    padding-left: 10%
}

.nav-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.nav-right span, .nav-right form, .leave-btn {
    margin: 1%;
}

#vol {
    width: 50%;
}

.settings {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signed-in-as {
    font-size: larger;
}

.outer-div {
    width: 100%;
    height: 100%;
}

.outer-div2 {
    width: 90%;
}

.leave-body {
    text-align: center;
}

.share-url {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: auto;
}

.share-url Button {
    margin-left:15px;
}

.share-url Button:hover {
    background-color: rgb(165, 165, 165) !important;
    border-color: rgb(122, 122, 122);
}
.video-input {
    width: 100%;
    margin: 0;
}


#bottom-row {
    display: flex;
    align-items: center;
    justify-content:center;
    /* background-color: rgb(0, 0, 0, 0.6); */
    font-size: 20px;

    clear: both;
    position: relative;
    overflow: hidden;
    bottom: 0;
    max-width: 100% !important; /* add this rule */
    width: 100%;
}

.bottom-col {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 2%;
}

@media screen and (max-width: 1199px) {
    .outer-div, .react-player {
        width: 100%;
        height: 40vh; 
        margin-bottom: 1%;
    }
}

@media screen and (max-width: 575px) {
    .video-input {
        width: auto;
    }
    #bottom-row {
        /* height: fit-content; 
        width:100%; */
    }
}