#chat-div {
    box-shadow: 10px 12px 0.5rem rgba(0,0,0,0.5);
}

#chatbox {
    display: flex;
    align-items: flex-end;
    background-color:  rgb(255, 255, 255);
}

.chat {
    height: 500px;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    color: black;
}

.chatRoom { /* ul */
    list-style-type: none;
    margin: 0;
    text-align: left;
}

.chatMessages { /* li */
    font-size: larger;
    min-height: 10px;
    height: auto;
    word-wrap:break-word;
    margin: 0px 0px 0px -32px;
    padding: 1px;
    background-color: #eaeff3;
    
}

.chatMessages:nth-child(odd) {
    background-color: #d7e2eb; 
}

.text-box {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

@media screen and (max-width: 1199px) {
    .chat {
        height: 30vh;
        margin-bottom: 0;
        clear: both;
    }
    
}